appdirs ~=1.4.4
cryptography >=3.3.2
hat-aio ~=0.7.8
hat-doit ~=0.15.7
hat-drivers ~=0.7.5post3
hat-event ~=0.8.8
hat-json ~=0.5.19
hat-monitor >=0.6.4, < 0.8.0
hat-util ~=0.6.10
psutil >=5.9.5
sphinxcontrib-plantuml >=0.24
sphinxcontrib-programoutput >=0.17
